*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{  
  background-color: rgb(253, 112, 101);
}
.parent{
  width: 43%;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  padding-right: 30%;
  display: flex;
  flex-direction: column;
}

#seconds{
  display: block;
  padding-left: 8px;
  margin: 0 auto;
  margin-top: 40px;
  width: 283px;
  height: 40px;
  font-size: 20px;
  color:rgb(65, 63, 63);
  border: none; 
}

#text{
  padding-left: 8px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px; 
  width: 283px;
  height: 40px;
  font-size: 20px;
  color:rgb(92, 90, 90);
  border: none;
}

.buttonBlock{
  display: block;
  margin: 0 auto;
  margin-bottom: 42px;
}

.button{
text-transform: uppercase;
width: 70px;
height: 30px;
margin-left: 4px;
font-size: 16px;
background-color: #ffffff;
color: rgb(92, 90, 90);
font-weight: bold;
border: none;
}

.button:hover{
  opacity: 0.8;
}


#status{
  display: block;
  margin: 0 auto;
  font-size: 200px;
  color:#ffffff;
}

h1{  
  display: block;
  margin: 0 auto;  
  margin-top: 20px;
  padding-left: 80%;
  color:#ffffff;
}

.parent2{
  position: absolute;
  left: 65%; 
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}